.contactPageWrapper {
  display: flex;
  flex-direction: column;
}
.contactFormWrapper {
  background-color: white;
  background-image: url("/images/contactBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
}
.formContent {
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 3em;
}
.contactInput {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.contactText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contactHead {
  font-size: 35px;
  font-family: "Bebas Neue", cursive;
}
.contactItem {
  display: flex;
  align-items: center;
}
#brownButton:hover {
  background-color: var(--brown-bg) !important;
  color: white;
}
@media screen and (max-width: 1500px) {
  .contactItem {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contactText {
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 924px) {
  .contactHead {
    font-size: 24px;
  }
  .contactFormWrapper {
    padding: 1em;
  }
  .formContent {
    width: 100%;
  }
}
