.reviewWrapper {
  background-image: url("/images/feedbackBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: brown;
  color: white;
}
.quoteImage {
  padding-top: 2em;
  padding-bottom: 2em;
}
.reviewContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6em;
  padding-bottom: 6em;
}
.customerReview {
  max-width: 50%;
}
.customerProfile {
  margin-bottom: 1em;
  border: 1px solid transparent;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .customerReview {
    max-width: 90%;
  }
}
