.menuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(107, 107, 107, 0.7);
  padding: 2em;
  padding-left: 18%;
  margin: 1em;
  position: relative;
}
.menuItemName {
  margin-bottom: 0;
}
.menuPrice {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
  color: var(--yellow-bg);
}
.rupeeIcon {
  max-width: 25px;
  object-fit: contain;
}
.cupCircle {
  position: absolute;
  top: -30px;
  left: -30px;
}
@media screen and (max-width: 768px) {
  .menuPrice {
    font-size: 18px;
  }
}
