.aboutWrapper {
  padding-top: 10em;
  padding-bottom: 2em;
  background-image: url("/images/aboutBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 10em;
  padding-right: 10em;
}
.yellowBg {
  background-color: var(--yellow-bg) !important;
  color: black !important;
}
.aboutBg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutImg {
  width: 100%;
  object-fit: cover;
}
.yellowBg {
  background-color: var(--yellow-bg);
}
.paraText {
  text-align: justify;
}
.aboutLeen {
  padding-right: 10% !important;
}

@media screen and (min-width: 2000px) {
  .customContainer {
    max-width: 1200px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1920px) {
  /* .customContainer {
    max-width: 1600px;
    margin-left: 5%;
    margin-right: 5%;
  } */
}
@media screen and (max-width: 768px) {
  .aboutWrapper {
    padding-top: 5em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    background-image: url("/images/aboutBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .customContainer {
    text-align: center;
  }
  .paraText {
    text-align: center;
  }
  .aboutLeen {
    padding-right: 0 !important;
  }
}
@media screen and (max-width: 1200px) {
  .aboutWrapper {
    padding-left: 2em;
    padding-right: 2em;
  }
  .aboutLeen {
    padding-right: 0 !important;
  }
}
