.carouselWrapper {
  padding-left: 3em;
  padding-right: 3em;
}
@media screen and (max-width: 768px) {
  .carouselWrapper {
    padding-left: 4em;
    padding-right: 4em;
  }
}
@media screen and (max-width: 568px) {
  .carouselWrapper {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media screen and (min-width: 1400px) {
  .carouselWrapper {
    max-width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
