body {
  margin: 0;
  font-family: "Jost", sans-serif;
}
:root {
  --prim-text: black;
  --sec-text: #01b0b3;
  --prim-bg: #b6a460;
  --sec-bg: #523021;
  --yellow-bg: #eac900;
  --blue-bg: #01b0b3;
  --brown-bg: #523021;
}
.primaryButton {
  background-color: var(--sec-text) !important;
}
.roundedCorner {
  border: 1px solid transparent;
  border-radius: 1em;
}
.yellowHead {
  background-color: var(--yellow-bg);
  display: inline-block;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid transparent;
  font-weight: 700;
  border-radius: 5px;
  text-align: center;
}

.brownButton {
  background-color: var(--brown-bg);
  display: inline-block;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  font-weight: 400;
  border-radius: 5px;
  color: white;
}

.headingText {
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
}

.thinText {
  font-weight: 200 !important;
}
.yellowText {
  color: #eac900 !important;
}
.arrow {
  cursor: pointer;
}
